<header class="bg-dark">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Vident</h1>
            <hr>
            <p>
                Creating innovative technologies for analyzing and utilizing remote sensing data
                <!-- Developing cutting-edge technologies for remote sensing analytics and exploitation -->
            </p>
            <!-- <p> -->
                <!-- We provide analytics and 
            </p> -->
                <!-- We are dedicated to exploring new and innovative algorithms and solutions,  -->
                <!-- and to providing our clients with access to the latest and most advanced technologies in the field. Through our dedication to R&D, we aim to enable our clients to gain valuable insights and make better, more informed decisions based on high-quality data.</p> -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
