<header>
<video autoplay muted loop id="myVideo">
  <source src="img/Earth.mp4" type="video/mp4">
</video>
    <div class="header-content bg-dark-50">
        <div class="header-content-inner">
            <div data-toggle="tooltip-arrow" data-bs-placement="top" title="Latin -They look/observe/reflect">
                <h1 class="alpha-text">Vident</h1>
            </div>
            <img src="favicon.png" class="img-fluid top10" alt="" width="100px">
            <p class="top10">
                Innovative technologies for analyzing remote sensing data
            </p>
        </div>
    </div>
</header>
