<section class="bg-primary" id="insar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What Is InSar?</h2>

                <p>
                    InSAR, or Interferometric Synthetic Aperture Radar, is a remote sensing technique that uses radar technology to measure changes in the Earth's surface over time. InSAR works by combining two or more radar images of the same area taken at different times. The images are then compared and processed using interferometric techniques to create a map of the surface deformation that has occurred between the two image acquisitions. InSAR can be used to measure changes in the Earth's surface due to factors such as earthquakes, landslides, volcanic activity, or other natural disasters. It can also be used to monitor the stability of structures such as bridges, buildings, or dams. InSAR is a powerful tool for understanding the dynamics of the Earth's surface and can provide valuable information for a variety of applications.
                </p>

            </div>
        </div>
    </div>
</section>
